<div class="header">
    <div class="">
        <div class="row">
            <div class="col-sm-6">
                <a routerLink=""><img class="logo" src='../../../assets/images/logo.png' alt='image'></a>
            </div>
            <div class="col-sm-6 login-div">

                <section>
                    <a mat-raised-button class="btn-login" routerLink="login">Login</a>
                    <button mat-raised-button class="btn-blue" routerLink="crear-cuenta">Crear Cuenta</button>
                </section>
            </div>
        </div>
    </div>
</div>