@import "../../../styles.scss";
.header{
    background: white;
    box-shadow: 6px 3px 11px 0px rgb(194 194 194 / 75%);
    margin-bottom: 20px;
}
.logo{
    width: 60px;
}
.login-div{
    text-align: right;
    padding-top: 10px;
}