.form-create-account{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.title-div-ca{
    text-align: center;
    padding-top: 100px;
    h1{
        font-size: 30px;
    }
}

.errorsdiv{
    background: #ea4949;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}