@import '../../../styles.scss';

.title-filters{
    padding: 20px;
    margin-top: 90px;
    border-right: 1px solid #eee;
}
.title-filters label{
    font-size: 25px;
    color: $color-grayMedium;
}

.card-search {
  background: $color-blue1;
  padding: 40px;
  border-radius: 5px;
}
.card-search label{
    color: white;
}
input {
  padding: 7px 15px;
  width: 100%;
  border-radius: 5px;
  border-width: 0px;
}
::placeholder {
  color: rgb(180, 180, 180);
}
.content-list{
    margin-top: 20px;
    padding-bottom: 50px;
}
.items-books{
  margin-bottom: 30px;
}
.title-books-list{
    color: #3e3b3b;
}

@media (max-width: 700px) {
.content-filters{
  display: none;
}
}