@import '../../../styles.scss';

.capa {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background: rgb(0 0 0 / 41%);
  cursor: pointer;
}
.single-book {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 30%;
  background: #313840;
  z-index: 111;
  height: 100vh;
  overflow-y: overlay;
  text-align: center;
  box-shadow: -6px 7px 11px 0px rgb(68 68 68 / 75%);
  border-radius: 10px 0px 0px 10px;
  padding-top: 10px;
  color: white;

  h2 {
    color: white;
  }

  img {
    width: 55%;
    margin: 0 auto;
    border-radius: 20px;
    object-fit: cover;
    height: 295px;
  }

  .info-single-book {
    margin-top: 15px;

    h3 {
      font-size: 23px;
      margin: 0 auto;
      width: 60%;
      border-bottom: 1px solid #929292;
    }
  }
}
