/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-blue1: #2a52a7;
$color-blue2: #2766be;
$color-blue3: #207bd5;
$color-blue4: #1290eb;
$color-purpur1: #2b3f90;
$color-grayLight: #eee;
$color-grayMedium: #333;
